@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-containers,
    .section-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    #experience, 
    .experience-details-container {
        margin-top: 2rem;
    }

    #profile,
    .section-container {
        display: block;
    }

    .arrow {
        display: none;
    }

    section,
    .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers {
        margin-top: 0;
    }

    /* project1demo */

    /*
    .project1-demo *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    */

    .project1-demo section {
        padding-top: 4vh;
        height: 96vh;
        margin: 0 8rem;
        box-sizing: border-box;
        min-height: fit-content;
    }
    
    .project1-demo .btn-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .video-container iframe,
    .video-container video {
        max-width: auto; /* Take full width on smaller screens */
        max-height: auto; /* Allow the height to adjust based on content */
        float: left;
    }

    .project1-demo .description {
        margin-top: 2rem;
        float: right;
    }

    .project1-demo body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project1-demo #how-it-works,
    .project1-demo #backtest,
    .project1-demo #live-Look {
        padding: 2rem;
        justify-content: center;
    }

}

@media screen and (max-width: 600px) {

    body {
        text-align: center;
        margin-left: 20px;
        padding: 0;
    }

    section,
    .section-container,
    .section__pic-container,
    .about-containers,
    .about-details-container,
    .details-container,
    .experience-details-container,
    .article-container,
    .project-container,
    #contact {
        margin: auto;
        width: 100%; 
        text-align: center;
    }

    #projects .about-containers {
        margin-left: -10px;
    }

    #projects {
        margin-bottom: 150px;
    }

    #contact .contact-info-upper-container {
        margin-left: -5px;
    }

    .section__pic-container {
        padding-left: 90px;
    }

    .text-container {
        position: absolute;
        margin-top: 27rem; /* Adjust the margin-top as needed */
        margin-left: -20.5rem;
        text-align: center;
        width: 93%; /* Use 100% width to make it full-width */
        display: flex;
    }

    .section__text__p1 {
        padding-top: 200px;
    }

    #contact,
    footer {
        height: 40vh;
        margin-top: 2rem;
    }

    .contact-info-upper-container {
        margin-bottom: 2rem;
    }

    #experience .details-container {
        margin-left: 0.5rem;
        width: 300px;
    }

    #profile {
        height: 83vh;
        margin-bottom: -20;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .about-container {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    #about .about-containers {
        margin-left: -10px;
        gap: 0.25rem;
    }

    #about {
        margin-top: -20;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }
}