/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
    text-align: center;
}

/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
}

/* NAVIGATION (desktop) */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* SECTIONS */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

#section .how-it-work__section {
    max-height: 500px;
}

.section-container {
    display: flex;
}

#live-Look {
    margin-top: 10rem; /* Adjust the margin-bottom value as needed */
}

#live-look .video-container video {
    max-width: 500px;
}


/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.live-look__section {
    position: relative;
    margin-bottom: 40px;
}

/* .btn-container {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
} */

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, 
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background-color: rgb(0, 0, 0);
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

.arrow1 {
    position: absolute;
    right: 5rem;
    bottom: 2.5rem;
}

.arrow2 {
    position: absolute;
    right: 5rem;
    bottom: -50rem;
}

/* Video */

.video-container {
    display: flex;
    width: auto;
    border: 2px solid black;
    box-sizing: border-box;
}

#backtest .video-container {
    position: relative;
    width: 100%;
    max-width: 900px;
}

#live-look .video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio */
}

.video-container video {
    width: 100%;
    max-width: 900px;
    height: 100%;
}

/* Images */

.image-container {
    width: auto;
    max-width: 400px;
}

.image-container img {
    max-width: 100%;
    vertical-align: bottom;
}

/* Images in Project4 */

.image-container-p4 {
    max-width: 800px;
    width: auto;
}

.image-container-p4 img {
    max-width: 100%;
    vertical-align: bottom;
}

/* Headers */

h2 {
    font-size: 3em;
}

/* Text */

.description {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

/* Project 2*/

.project2demo .btn-container {
    margin-bottom: 2rem;
}

.project2demo .video-container {
    position: relative;
    width: 100%;
    max-width: 900px;
}

.project2demo video {
    width: 100%;
    max-width: 900px;
    height: 100%;
}
