/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
}

/* NAVIGATION (desktop) */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 6rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

#live-Look {
    margin-top: 90px; /* Adjust the margin-bottom value as needed */
}


/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.live-look__section {
    position: relative;
    margin-bottom: 40px;
}

.btn-container {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.play-btn-container {
    position: absolute;
    right: 25%;
    bottom: 55%;
}

.btn-color-1, 
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background-color: rgb(0, 0, 0);
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

.arrow1 {
    position: absolute;
    right: 5rem;
    bottom: 2.5rem;
}

.arrow2 {
    position: absolute;
    right: 5rem;
    bottom: -54rem;
}

/* Video */

.video-container {
    display: flex;
    float: left;
    width: auto;
    border: 2px solid black;
    box-sizing: border-box;
    margin-right: 10px;
}

#backtest .video-container {
    width: 53%;
    height: 70%;
}

#live-Look .video-container {
    width: auto;
    height: auto;
}

#live-look .video-container video {
    width: 600px;
}

/* Images */

.image-container {
    float: left;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.image-container img {
    max-width: 100%;
    vertical-align: bottom;
}

/* Headers */

h2 {
    font-size: 3em;
}

/* Text */

.description {
    float: right;
    line-height: 30px;
    max-width: 45%;
}



